Django>=5.1.6
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
supabase>=2.0.0
gunicorn>=21.2.0
whitenoise>=6.6.0
twilio>=8.10.0
Pillow>=10.0.0
django-cors-headers>=4.3.1
dj-database-url>=2.1.0
sendgrid>=6.10.0
pytz>=2023.3
